.form__inputs {
	display: flex;
	flex-direction: column;
}

.lajksdads {
	width: clamp(300px, 50%, 600px);
	background-color: white;
	margin: auto;
}

.ReactModal__Overlay {
	background-color: hsla(0, 0, 0, 0.5) !important;
	display: flex;
}
